.app-container {
  display: flex;       
  height: 100vh;       
  width: 100%;
  overflow: hidden;  
  background-color: #0f0f13; 
}

.main-content {
  flex-grow: 1;        
  overflow-y: auto;    
  padding: 40px;       
}